body {
	margin: 0;
	font-family:sans-serif;
}

.container {
	margin-top:54px;
}

#main {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

.post {
	display: flex;
	align-items: center;
	-webkit-align-items: center;

	.vote-wrapper {
		padding: 0 10px;

		.arrow.upvotable {
		  width: 16px;
		  height: 16px;
		  border-right: 5px solid #333333;
		  border-top: 5px solid #333333;
		  transform: rotate(-45deg);
		}

		.arrow.disabled {
		  width: 16px;
		  height: 16px;
		  border-right: 5px solid #ff3333;
		  border-top: 5px solid #ff3333;
		  transform: rotate(-45deg);
		}
	}

	.post-content {
		flex-grow: 1;
		-webkit-flex-grow: 1;

		h3 {
			font-size: 16px;
			line-height: 20px;
			font-weight: normal;
			a {
				color:#111;
				text-decoration: none;
			}
		}

		p {
			margin: 0;
	    font-size: 14px;
	    padding-top: 4px;
	    color: #666;

	    a {
	    	color: #666;
	    	font-weight: bold;
	    	text-decoration: none;
	    }
		}
	}
}



nav {

	.navbar-header {
		display: block;
		position: fixed;
		width: 100%;
		height: 42px;
		top: 0;
		left: 0;
		z-index: 100;
		background: -webkit-linear-gradient(left, #ff6666, #ff3333);
		background: -o-linear-gradient(right, #ff6666, #ff3333);
		background: -moz-linear-gradient(right, #ff6666, #ff3333);
		background: linear-gradient(to right, #ff6666, #ff3333);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

		.navbar-brand {
			position: absolute;
	    text-align: center;
	    left: 0px;
	    right: 0px;
	    top: 4px;
		}

		// hiding toggle until i can setup the logic
		.navbar-toggle {
			display: none;
		}

		#login-buttons {
			float: right;
			padding: 12px 16px 0 0;
			color: white;

			.login-link-text {
				text-decoration: none;
			}
		}

		.navbar-submit {
			position: relative;
			float: right;
	    display: inline-block;
	    padding: 12px 20px;

			a {
				background: #ff3333;
		    color: #ffffff;
		    text-decoration: none;
		    font-size:15px;
		    border: 2px #ffffff solid;
		    border-radius:3px;
		    padding: 5px 11px;
			}
		}
	}

	.post-view-menu {
		display: table;
		margin: 0 auto;
		border: 3px #ffffff solid;
	  border-radius: 3px;
	  background: #ffffff;
	  padding:0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

	  .menu-contents{
	  	margin: 0;
	  	padding: 0;

			.menu-item {
				display: inline-block;
				padding:6px;
				border-radius:3px 0 0 3px;
				margin:0;
				a {
					text-decoration: none;
					font-size:14px;
					font-weight:bold;
					color:#000;
				}
			}
			.menu-item:last-child {
				margin-right:0;
				border-radius:0 3px 3px 0;
			}
			.active {
				background:#f33;
				a {
					color:#fff;
				}
			}
	  }
	}
}

#submit-post, #edit-post, #submit-comment {
	#submit-form {
		.controls {
			box-sizing: border-box;
			padding:10px;

			#title, #body {
				width: 100%;
				background-color: #f9f9f9;
				border: 0;
				border-radius: 3px;
				font-size:14px;
				padding:10px;
				box-sizing: border-box;
				outline:0px !important;
				-webkit-appearance: none;
			}
		}
	}

	.has-error {
		.help-block {
			color: #f33;
	    margin-bottom: 6px;
	    display: block;
	    font-size: 16px;
		}

		textarea {
			border: 1px #f33 solid !important;
		}
	}

	.button-wrapper {
		text-align: center;

		.submit, .delete {
	    display: inline-block;
			height: 32px;
	    line-height: 32px;
	    padding: 0 8px;
	    box-sizing: border-box;
	    text-align: center;
	    border: 0;
	    border-radius: 3px;
	    background-color: #f33;
	    color: #fff;
	    text-decoration: none;
	    font-weight: bold;
	    font-size: 14px;
	    outline: none;
	    width: 96px;
		}

		.delete {
			background-color: #000;
		}
	}
}

.load-more {
  width: 120px;
  height: 36px;
  line-height: 36px;
  margin: 10px auto;
  background-color: #f33;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}


// remove bootstrap styles
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-brand {
    float: none;
    height: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
}