<template name="postEdit">
  <form class="main form page" id="edit-post">
    <div class="form-group {{errorClass 'title'}}" id="submit-form">
      <!--<label class="control-label" for="title">Title</label>-->
      <div class="controls">
        <textarea rows="4" name="title" id="title" type="text" value="{{title}}" placeholder="Talk to your neighbors!" class="form-control"></textarea>
        <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
    <div class="button-wrapper">
      <input type="submit" value="Submit" class="btn btn-primary submit"/>
      <a class="btn btn-danger delete" href="#">Delete</a>
    </div>
  </form>
</template>