<template name="postSubmit">
	<form class="main form page" id="submit-post">
		<div class="form-group {{errorClass 'title'}}" id="submit-form">
			<!-- <label class="control-label" for="title">Title</label> -->
			<div class="controls">
				<span class="help-block">{{errorMessage 'title'}}</span>
				<textarea rows="4" name="title" id="title" type="text" value="" placeholder="Talk to your neighbors!" class="form-control"></textarea>
			</div>
		</div>
		<div class="button-wrapper">
			<input type="submit" value="Submit" class="btn btn-primary submit" />
		</div>
	</form>
</template>			