<template name="commentSubmit">
	<form name="comment" class="comment-form form" id="submit-comment">
		<div class="form-group {{errorClass 'body'}}" id="submit-form">
			<div class="controls">
					<!--<label for="body">Comment on this post</label>-->
					<textarea name="body" id="body" class="form control" placeholder="Leave a comment on this post." rows="3"></textarea>
					<span class="help-block">{{errorMessage 'body'}}</span>
			</div>
		</div>
		<div class="button-wrapper">
			<button type="submit" class="btn btn-primary submit">Comment</button>
		</div>
	</form>
</template>