<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <a href="{{pathFor 'home'}}">{{> hoodyLogo}}</a>
      </div>      
      {{> loginButtons align="right"}}
      {{#if currentUser}}
        <div class="navbar-submit">
          <a href="{{pathFor 'postSubmit'}}" class="{{activeRouteClass 'postSubmit'}}">Post</a>
        </div>
      {{/if}}
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if currentUser}}
          <li class="dropdown">
            {{> notifications}}
          </li>
        {{/if}}
      </ul>
    </div>
    <div class="post-view-menu">
      <ul class="menu-contents">
        <li class="menu-item {{activeRouteClass 'home' 'newPosts'}}">
          <a href="{{pathFor 'newPosts'}}">New</a>
        </li>
        <li class="menu-item {{activeRouteClass 'bestPosts'}}">
          <a href="{{pathFor 'bestPosts'}}">Best</a>
        </li>
      </ul>
    </div>
  </nav>
</template>